*{
    background: url(./background\ icon.jpg);
}
.main{
    
   background: white;
    width: 600px;
    margin: auto;
    margin-top: 200px;
    border: 2px solid black;
    text-align: center;
}
h1{
    background: white;
   text-align: center;
   color: purple;
}
h2{
    background: white;
    
   text-align: center;
    color: pink;
}
#n1{
    background: white;
     height: 40px;
    width: 150px;
    border: 3px solid black;
}
#res{
    margin: auto;
    margin-top: 30px;
background: purple;

    border: 2px solid black;

}

h3{
    background: white;
    text-align: center;
}
#btn1{
    
    text-align: center;
  background: white;
   text-align: center;
   margin-bottom: 50px;
}